/* With thanks to https://jwcooney.com/2016/08/21/example-pure-css-family-tree-markup/ */

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  background-color: black;
  color: white;
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: grid;
  height: 100%;
  width: 100%;
}

.tree code {
  margin-left: 5px;
  padding: 3px;
  background-color: #dddddd;
  color: black;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.tree {
  white-space: nowrap;
  min-width: 800px;
  min-height: 500px;
}
.tree ul {
  padding-top: 20px;
  position: relative;
}
.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
}

/* Use ::before and ::after to draw the connectors */
.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}
/* Remove left-right connectors from elements without any siblings */
.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}
/* Remove space from the top of single children */
.tree li:only-child {
  padding-top: 0;
}
/* Remove left connector from first child and right connector from last child */
.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}
/* Adding back the vertical connector to the last nodes */
.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}
/* Add downward connectors from parents */
.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}
.tree li div {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  /* color: black; */
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  display: inline-block;
  min-width: 80px;
  min-height: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.tree li div .person {
  background-color: #2f2f2f;
  display: inline-block;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.tree li div .spacer {
  background-color: lightblue;
  display: inline-block;
  width: 10px;
}

/* Hover effects */
.tree li div:hover,
.tree li div:hover + ul li div,
.tree li div:hover + ul li::after,
.tree li div:hover + ul li::before,
.tree li div:hover + ul::before,
.tree li div:hover + ul ul::before {
  border-color: #ffdd00;
}
